body {
    background-color: #F9F9F9;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
}
#content {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 100px auto 100px;
    max-width: 960px;
    margin: 0 auto;
}

/* Logo Style */
.logoContainer {
    display: flex;
    grid-column: 2;
}
.logo {
    width: 47px;
    height: 47px;
    padding-right: 15px;
    padding-top: 44px;
}
#atelier{
    font-weight: bold;
    font-size: 18px;
    padding-top: 71px;
}

/* Image Style */
.imageContainer {
    grid-column: 2;
    grid-row: 2;
    box-shadow: 6px 5px 13px	#B0B0B0;
    filter: opacity(0.9);
    display: flex;
}
.image {
    width: 100%;
    height: 780px;
    object-fit: cover;
}

/* Works Text style */
.works{
    position: absolute;
    bottom: 25%;
    right: 20%;
    padding: 0;
}
#worksText{
    font-size: 18px;
    color: white;

}
/* Info Style */
.infoContainer {
    grid-column: 2;
    grid-row: 3;
    display: grid;
    grid-template-columns: 52% 20% 25% 3%;
    grid-auto-rows: auto;
    max-width: 960px;
    padding-top: 6px;
}
#mail{
    padding-right: 5px;
    text-align: right;
}
#phone{
    letter-spacing: o.5px;
    text-align: right;
}
#street{
    letter-spacing: 1px;
}
p {
    margin-top: 0;
}
a {
    color:#EF0A0A;
    text-decoration: none;
    display: flex;
    justify-content: center; 
} 
.fab {
    font-size: 19px;
}

/* Under construction Page */
#underpage{
    background-color: #F9F9F9;
    font-family: 'Roboto Mono', monospace;
    font-size: 34px;
}
.construction{
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: 200px 200px;
    max-width: 50vw;
    margin: 0 auto;
    text-align: center;
    margin-top: 15%;    
}
#underText{
    grid-row: 1;
}
.goback{
    grid-column: 1;
    grid-row: 2;
}
#back{
    font-size: 15px;
    color: #e11414;
}
/* .circle {
    grid-column: 1;
    grid-row: 2;
    background-color: red;
    margin: autos;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-animation-name: circle;
    -webkit-animation-duration: 5s;
    animation-iteration-count: infinite;
} */

/* @-webkit-keyframes circle {
    from {background-color:#e11414;}
    to{background-color:#b50c0c;}
    to{background-color:#660505;}
    to{background-color:#000000;}
}
 */


/* Media queries */

/* Tablets */
@media screen and (max-width: 950px) {
        p{
            padding-right: 0;
            padding-top: 6px;
            font-size: 13px
        }
        a{
            padding-top: 6px;
        }
    
    }
@media screen and (max-width: 780px) {
    .image{
        width: 100%;
        height: auto;
    }
    .works{
        bottom: 21%;
        right: 22%;
    }
    .infoContainer{
        padding-top: 8px;
    }
    a{
        justify-content: center;
    }
    #street{
        letter-spacing: normal;
    }
    p{
        font-size: 12px;
        padding-right: 0;
    }
}

/* Mobile */
@media screen and (max-width: 450px) {
    #content {
        grid-template-rows: 100px auto 200px;
    }
    .infoContainer{
        grid-template-columns: 50% 20% 25% 5%;
        padding-top: 9px;
        height: 20px;
    }
    #street{
        grid-column: 1/5;
        grid-row: 1;
        letter-spacing: 1.9px;
        margin-bottom: 5px;
    }
    #mail{
        grid-column:2/4;
        grid-row: 2;
        display: flex;
    }
    #phone{
        grid-column: 1/3;
        grid-row: 2;
        display: flex;
    }
    .image{
        width: 100%;
        
    }
    .works{
        bottom: 12%;
        right: 18%;
    }
    #worksText{
        font-weight: bold;
        font-size: 15px;
    }
    #underText{
        font-size: 16px;
    }
    p{
        font-size: 10px;
        letter-spacing: 0.3px;
    }
    .fa-instagram{
        font-size: 13px;
    }

}

/* Smaller */
@media screen and (max-width: 375px){
    #street{
        letter-spacing: 1px;
    } 
}
@media screen and (max-width: 369px){
    #street{
        letter-spacing: 0.8px;
    }
}
@media screen and (max-width: 360px){
    #street{
        letter-spacing: 0.7px;
    }
}

