body {
    background-color: #F9F9F9;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
}
#content {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 100px 780px 100px;
    max-width: 960px;
    margin: 0 auto;
}

/* Logo Style */
.logoContainer {
    display: flex;
    grid-column: 2;
}
.logo {
    width: 47px;
    height: 47px;
    padding-right: 15px;
    padding-top: 44px;
}
#atelier{
    font-weight: bold;
    font-size: 18px;
    padding-top: 71px;
}

/* Image Style */
.imageContainer {
    grid-column: 2;
    grid-row: 2;
    box-shadow: 6px 5px 13px	#B0B0B0;
    filter: opacity(0.9);
}
.image {
    width: 100%;
    height: 780px;
}
.underConstruction {
    position: absolute;
    bottom: 31%;
    right: 23%;
    color: white;
    padding: 0;
}
#constructionText{
    font-size: 22px;
    padding-right: 0;
    margin-bottom: 0;
}

/* Info Style */
.infoContainer {
    display: flex;
    justify-content: space-between;
    grid-column: 2;
    grid-row: 3;
    padding-top: 5px;
}
.mail-phone{
    display: flex;
}

.street-instagram{
    display: flex;
}
.instagram{
    display: flex;
}
.street{
    display: flex;
}
p {
    margin-top: 0;
    padding-right: 23px;
}
#hyphen {
}
#saint-gilles{

}
a {
    color:#EF0A0A;
    text-decoration: none;
} 
.fab {
    font-size: 19px;
}

/* Media queries */

/* Tablets */
@media screen and (max-width: 780px) {
    #content{
        grid-template-rows: 100px 560px 100px;
    }
    .image{
        width: 100%;
        height: auto;
    }
    .infoContainer{
        padding-top: 7px;
    }
    .mail-phone{
        display: block;
    }
    .street-instagram{
        display: block;
    }
    #hyphen {
        display: none;
    }
    #saint-gilles{
        padding-right: 15px;
    }
    p{
        font-size: 14px;
        padding-right: 0;
    }
}

/* Mobile */
@media screen and (max-width: 450px) {
    #content {
        grid-template-rows: 100px 300px 200px;
    }
    .imageContainer{
        height: 300px;
    }
    .image{
        width: 100%;
        height: 300px;
    }
    .underConstruction {
        position: absolute;
        bottom: 30%;
        right: 6%;
        color: white;
        padding: 0;
    }
    #constructionText{
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 0;
    }
    p{
        font-size: 10px;
    }
    .fa-instagram{
        font-size: 13px;
    }
    #saint-gilles{
        padding-top: 5px;
    }
    #phone{
        padding-top: 5px;
    }
}


/* .mainContainer {
    display: inline-block;
    margin-left: 25%;
    margin-top: 5%;
} */
/* .logoContainer {
    display: flex;
    height: 57px;
}
.logo {
    width: 47px;
    height: 47px;
    padding-right: 15px;
}
#atelier {
    font-weight: bold;
    font-size: 18px;
    padding-top: 20px;
}
.photoContainer {
    max-width: 90%;
}
.plan{
    width: 850px;
    height: 650px;
    box-shadow: 6px 5px 13px	#B0B0B0;
    filter: opacity(0.9);
}
.siteContainer {
    position: absolute;
    bottom: 42.3%;
    right: 37%;
    color: white;
    padding: 0;
}
#siteText {
    font-size: 22px;
    padding: 0;
}
.fab {
    font-size: 25px;
}
.infoContainer{
    display: flex;
    justify-content: space-between;
}
p {
    margin-top: 6px;
}

a {
    color:#EF0A0A;
    text-decoration: none;
} */

/* Media Queries */

/* 
@media screen and (max-width: 1024px) {
    .mainContainer {
        margin-left: 1.5%;
    }
    .plan {
        width: 80%;
        height: auto;
    }
    .infoContainer{
        
    }
} */


/* Tablets */
/* @media screen and (max-width: 780px) {
    .mainContainer {
        width: 90%;
    }
    .logoContainer {
        margin-left: 18%;
    }
    .photoContainer {
        margin-left: 10%;
        display: flex;
        justify-content: center;
        width: 80%
    }
    .plan {
        width: 80%;
        height: auto;
    }
    .infoContainer {
        margin-left: 18%;
        display: block;
        text-align: left;
    }
    .siteContainer {
        bottom: 53%;
        right: 34.8%;
        font-size: 1vw;
    } 
}
 */
/* Mobile */

/* @media screen and (max-width: 480px) {
    .logoContainer {
        justify-content: left;
        margin-left: 9%;
    }
    .photoContainer {
        margin-left: 5%;
        display: flex;
        justify-content: center;
        width: 90%;
    }
    .plan {
        width: 90%;
        height: auto;
    }
    .infoContainer {
        margin-left: 9%;
        display: block;
        text-align: left;
        font-size: 2vw;
    }
    .siteContainer {
        bottom: 59%;
        right: 17.8%;
    }
    .siteText {
        font-size: 3vw;
    }

}
 */

